<!DOCTYPE html>
<html lang='zh'>

<head>
	<meta charset="UTF-8">
	<title></title>
	<style>
	</style>
</head>

<body>
	<div id="demo">
		<button @click="show = !show">
			Toggle
		</button>
		<transition v-on:before-enter="beforeEnter" v-on:enter="enter" v-on:leave="leave" v-bind:css="false">
			<p v-if="show">
				Demo
			</p>
		</transition>
		<hr>
		<!-- <transition appear appear-class="custom-appear-class" appear-to-class="custom-appear-to-class" appear-active-class="custom-appear-active-class"> -->
		<!-- ... -->
		<!-- </transition> -->
		<hr>
		<!-- <transition appear v-on:before-appear="customBeforeAppearHook" v-on:appear="customAppearHook" v-on:after-appear="customAfterAppearHook" 
		 v-on:appear-cancelled="customAppearCancelledHook">-->
		<!-- ... -->
		<!-- </transition> -->
		<hr>
		<transition>
			<button v-bind:key="isEditing">
				{{ isEditing ? 'Save' : 'Edit' }}
			</button>
		</transition>
		<hr>
		<transition>
			<button v-if="docState === 'saved'" key="saved">
				Edit
			</button>
			<button v-if="docState === 'edited'" key="edited">
				Save
			</button>
			<button v-if="docState === 'editing'" key="editing">
				Cancel
			</button>
		</transition>
		<hr>
		<transition>
			<button v-bind:key="docState">
				{{ buttonMessage }}
			</button>
		</transition>
	</div>
	<script src='./velocity.min.js'></script>
	<script src='./vue.js'></script>
	<script>
		new Vue({
			el: '#demo',
			data: {
				show: false,
				isEditing: 'Save',
				docState: 'editing'
			},
			methods: {
				beforeEnter: function (el) {
					el.style.opacity = 0
					el.style.transformOrigin = 'left'
				},
				enter: function (el, done) {
					Velocity(el, { opacity: 1, fontSize: '1.4em' }, { duration: 300 })
					Velocity(el, { fontSize: '1em' }, { complete: done })
				},
				leave: function (el, done) {
					Velocity(el, { translateX: '15px', rotateZ: '50deg' }, { duration: 600 })
					Velocity(el, { rotateZ: '100deg' }, { loop: 2 })
					Velocity(el, {
						rotateZ: '45deg',
						translateY: '30px',
						translateX: '30px',
						opacity: 0
					}, { complete: done })
				}
			},
			computed: {
				buttonMessage: function () {
					switch (this.docState) {
						case 'saved': return 'Edit'
						case 'edited': return 'Save'
						case 'editing': return 'Cancel'
					}
				}
			}
		})
	</script>
</body>

</html>