<!DOCTYPE html>
<html lang='zh'>

<head>
	<meta charset="UTF-8">
	<title></title>
	<style></style>
</head>

<body>
	<div id="app">
		<input type="checkbox" id="checkbox" v-model="checked">
		<label for="checkbox">{{ checked }}</label>
		<hr>
		<input type="checkbox" id="checkbox2" v-model="checked2">
		<label for="checkbox2">{{ checked2 }}</label>
		<hr>
		<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
		<label for="jack">Jack</label>
		<input type="checkbox" id="john" value="John" v-model="checkedNames">
		<label for="john">John</label>
		<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
		<label for="mike">Mike</label>
		<br>
		<span>Checked names: {{ checkedNames }}</span>
		<hr>
		<input type="radio" id="one" value="One" v-model="picked">
		<label for="one">One</label>
		<br>
		<input type="radio" id="two" value="Two" v-model="picked">
		<label for="two">Two</label>
		<br>
		<span>Picked: {{ picked }}</span>
		<hr>
		<select v-model="selected">
			<option disabled value="">请选择</option>
			<option>A</option>
			<option>B</option>
			<option>C</option>
		</select>
		<span>Selected: {{ selected }}</span>
		<hr>
		<select v-model="selected2" multiple style="width: 50px;">
			<option>A</option>
			<option>B</option>
			<option>C</option>
		</select>
		<br>
		<span>Selected: {{ selected2 }}</span>
		<hr>
		<select v-model="selected3">
			<option v-for="option in options" v-bind:value="option.value">
				{{ option.text }}
			</option>
		</select>
		<span>Selected: {{ selected3 }}</span>
	</div>
	<script src='./vue.js'></script>
	<script>
		var app = new Vue({
			el: '#app',
			data: {
				checked: false,
				checked2: '',
				checkedNames: [],
				picked: '',
				selected: '',
				selected2: [],
				selected3: 'A',
				options: [
					{ text: 'One', value: 'A' },
					{ text: 'Two', value: 'B' },
					{ text: 'Three', value: 'C' }
				]
			}
		})
	</script>
</body>

</html>